{% extends "baseAdmin.html.twig" %}




{% block body %}


<style>

.facture-table {
    border-collapse: collapse;
    width: 100%;
}

.facture-table th, .facture-table td {
    border: 1px solid black;
    padding: 8px;
}

.facture-heading {
    background-color: #f2f2f2;
    font-weight: bold;
}






</style>

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="card mb-3">
                {# <div class="card-body col-lg-12"></div> #}
            </div>


            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="card-body">
                            <div class="row ml-2 mr-2 mb-3 justify-content-between">
                                <div>
                                    <strong>Commande N°</strong>
                                    
                                    {{commande.ref}}

                                </div>
                                <div>
                                    <strong>TVA :</strong>
                                    {{commande.tauxtva}} %
                                </div>
                            </div>

                            
                            
                            <div class="table-responsive">


                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Command Description</th>
                                        <th>Banque</th>
                                        <th>Materiel</th>
                                        <th>Quantity</th>
                                        {# <th>Avance</th> #}
                                        {# <th>Taux TVA</th> #}
                                        <th>PRIX UNIT. HT</th>
                                        <th>MONTANT HT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set totalHT = 0 %}
                                    {% set devise = '' %}
                                    
                                        {% for commandeMateriel in commande.commandeMateriels %}
                                        {% set devise = commande.devise.nom %}
                                            <tr>
                                                {% if loop.first %}
                                                    <td rowspan="{{ commande.commandeMateriels|length }}">{{ commande.description }}</td>
                                                    <td rowspan="{{ commande.commandeMateriels|length }}">
                                                        <a href="#" data-toggle="modal" data-target="#banquePopup">{{ commande.banque.nom }}</a>
                                                    </td>
                                                {% endif %}
                                                <td>{{ commandeMateriel.materiel.nom }}</td>
                                                <td>{{ commandeMateriel.quantite }}</td>
                                                {# <td>{{ commandeMateriel.commande.avance }}</td> #}
                                                {# <td rowspan="{{ commande.commandeMateriels|length }}">{{ commandeMateriel.commande.tauxtva}}%</td> #}
                                                <td>{{ commandeMateriel.prixV }}</td>
                                                <td>{{ commandeMateriel.quantite * commandeMateriel.prixV }}  {{devise}}</td>
                                            </tr>
                                            {% set totalHT = totalHT + (commandeMateriel.quantite * commandeMateriel.prixV) %}
                                            
                                        {% endfor %}
                                </tbody>
                            </table>

                            <div style="margin-left:75%;" class="mt-2 mb-2">
                                <table class="table table-borderless col-md-16 w-150">
                                    <tr>
                                        <th>
                                            Total HT
                                            <span class=" float-right">{{ totalHT }} {{devise}}</span>
                                            
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>
                                            TVA
                                            <span class=" float-right">{{ totalHT * ( commande.tauxtva / 100 ) }}
                                            </span>
                                        </th>
                                    </tr>
                                </table>
                            </div>

                            <table class="table table-bordered col-xl-12">
                            {# {% for commandeMateriel in commande.commandeMateriels %} #}
                                <tr>
                                    <th>TOTAL TTC
                                        <span class=" float-right">{{ totalHT + (totalHT * ( commande.tauxtva / 100 )) }} {{devise}}</span>
                                    </th>
                                    
                                </tr>
                                {% if commande.avance > 0 %}
                                
                                    <tr>
                                        <th>Avance
                                            <span class=" float-right">{{ commande.avance }} {{devise}}</span>
                                        </th>
                                        
                                    </tr>
                                    <tr>
                                        <th>Reste
                                            <span class=" float-right">{{ (totalHT + (totalHT * ( commande.tauxtva / 100 ))) - commande.avance  }} {{devise}}</span>
                                        </th>
                                        
                                    </tr>
                                {% endif %}

                                {% if commande.remise > 0 %}
                                
                                    <tr>
                                        <th>Remise
                                            <span class=" float-right">{{ commande.remise }}%</span>
                                        </th>
                                        
                                    </tr>
                                    <tr>
                                        <th>Reste
                                            <span class=" float-right">{{ (totalHT + (totalHT * ( commande.tauxtva / 100 ))) - commande.remise  }} {{devise}}</span>
                                        </th>
                                        
                                    </tr>
                                {% endif %}
                            {# {% endfor %} #}
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Bootstrap Modal -->
<div class="modal fade" id="banquePopup" tabindex="-1" role="dialog" aria-labelledby="banquePopupLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="banquePopupLabel">Informations sur le banque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-light">
                    <tr>
                        <th>Nom du banque</th>
                        <td>{{ commande.banque.nom }}</td>
                    </tr>
                    <tr>
                        <th>Pays</th>
                        <td>{{ commande.banque.pays.nom }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ commande.banque.address }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ commande.banque.mail }}</td>
                    </tr>
                    <tr>
                        <th>Numéro de tel</th>
                        <td>{{ commande.banque.tel }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ commande.banque.descr }}</td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




{% endblock %}