{% extends "baseAdmin.html.twig" %}



{% block body %}

<div class="main-panel">
	<div class="content-wrapper">
		{% if app.user.getRoles()=="ROLE_SUPER_USER" %}
			<button type="button" class="btn btn-success mb-2" data-toggle="modal" data-target="#exampleModal">
				Add tresorie +
			</button>
		{% endif %}
			
		<div class="">
			<div class="col-lg-12 grid-margin stretch-card">
				<div class="card">
					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %}
					<div class="card-body">
						<h4 class="card-title">Liste des tresories</h4>
						{# <p class="card-description">
						                    Add class <code>.table-striped</code>
						                  </p> #}
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>
											Banque nom
										</th>
										<th>
											Solde réel
										</th>
										<th>
											Montant entrée
										</th>
										<th>
											Montant sortie
										</th>
										<th>
											Solde après mouvement
										</th>
										<th>
											Date
										</th>
										{# {% if app.user.getRoles()=='ROLE_ADMIN' %}
											<th>
												Actions
											</th>
										{% endif %} #}
									</tr>
								</thead>
								<tbody>
									{% for item in historiques %}
										<tr>
											<td>
												{{item.banque.nom}}
											</td>
											<td>
												{{item.solder}}											
											</td>
											<td>
												{{item.entree}}
											</td>
											<td>
												{{item.sortie}}
											</td>
											 <td>
												{{ item.solder + item.entree - item.sortie }}
											</td>
											 <td>
												{{ item.date | date('d-m-Y') }}
											</td>
											
											{# <td>
												{{item.banque.pays.nom}}
											</td> #}
											{# {% if app.user.getRoles()=='ROLE_ADMIN' %} #}
												<td>
													<a href="{{path('app_edit_tresorie', {'id': item.id})}}" class="btn btn-success btn-sm">Edit</a>
													<a href="{{path('app_historique_tresorie_by_bank', {'id': item.id})}}" class="btn btn-success btn-sm">Edit</a>
												</td>
											{# {% endif %} #}

										</tr>
									{% endfor %}
								</tbody>
							</table>


						</div>
					</div>
				</div>
			</div>








            
		</div>
	</div>
</div>





{% endblock %}