{% extends 'baseAdmin.html.twig' %}

{% block body %}
  <div class="main-panel">

    <div class="content-wrapper">
      <div>
        <h6 class="text-sm-right mr-3" style="font-size:12px;">
        <<a href="{{path('app_dashboard')}}">dashboard</a><<a href="{{path('app_country')}}">pays</a><<a href=""></a>banques
        </h6>
      </div>

      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            {% for message in app.flashes('success') %}
              <div class="alert alert-success">
                {{ message }}
              </div>
            {% endfor %}
            <div class="card-body">
              <h4 class="card-title">Les banques dans ce pays</h4>
              <div class="table-responsive">

                <style>
                  .block {
                    flex: 0 0 33%;
                    text-align: center;
                    border: 1px solid #ccc;
                    padding: 10px;
                    margin: 1px; /* Add margin space */
                  }

                  .block img {
                    max-width: 50%;
                    height: auto;
                  }

                  .flex-container {
                    display: flex;
                    flex-wrap: wrap;
                  }
                </style>

                <div class="flex-container">
                  {% for item in banks %}
                    <div class="block">
                      <a href="{{ path('app_commandes_by_bank', {'id': item.id}) }}">
                        <img src="{{ asset(vich_uploader_asset(item, 'imageFile')) }}" width="90px" alt="photo">
                        <div>
                          <h5 class=" text-capitalize text-center text-body text-behance ">{{ item.nom }}</h5>
                        </div>
                      </a>
                      {# <div class="mt-3">Country :  {{ item.pays.nom }}</div> #}
                      <div
                        class="mt-2">{# <a href="{{path('app_edit_banque', {'id': item.id})}}" class="btn btn-success btn-sm">Modifier</a>
                                        <a href="{{path('app_delete_banque', {'id': item.id})}}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this material?')">Supprimer</a> #}
                      </div>
                    </div>
                    {% if loop.index is divisible by(3) %}
                      <div style="clear:both;"></div>
                    {% endif %}
                  {% endfor %}
                </div</div>
              </div>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-header">
             <h6 class="card-title"> Informations sur le pays</h6>
            </div>
            <div class="card-body">
              <h5 class="">Responsable</h5>
              <h6 class="font-weight-bold mb-4">{{pays.responsable}}</h6>
              <h5 class="">Adresse</h5>
              <h6 class="font-weight-bold mb-4">{{pays.adesse}}</h6>
              <h5 class="">Adresse e-mail</h5>
              <h6 class=" font-weight-bold mb-4">{{pays.mail}}</h6>
              <p class="card-text">{{pays.description}}</p>
              <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Modifier les informations</a>
            </div>
            <div class="card-footer text-muted">
              {# 2 days ago #}
            </div>
          </div>


          


        </div>

      </div>
      <!-- content-wrapper ends -->
      <!-- partial -->
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informations sur le pays</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{form(editForm)}}
      </div>
      {# <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> #}
    </div>
  </div>
</div>


{% endblock %}