{% extends "baseAdmin.html.twig" %}


{% block body %}

{# <style>


.btn:focus {
        outline: none;
      }
      .hidden {
        display: none;
      }
      .listed {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .p-top {
        padding-top: 7px;
      }
      .td-padding {
        padding-top: 15px !important;
      }
      .container {
        padding-top: 10px;
        padding-bottom: 10px;
        min-width: 480px;
        max-width: 768px;
      }
      .container-fluid {
        padding-bottom: 10px;
        margin-top: 1px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      .paddingLF {
        padding-left: 15px;
        padding-right: 15px;
      }
      .inactiveLink {
        pointer-events: none;
        cursor: default;
      }
      .buttons-wrapper {
        display: inline-block;
      }


</style> #}


















<div class="container">


	<div class="tab-content">


		<div class="tab-pane active">
			<div class="container-fluid">
				<h3>Confirm your order:</h3>
				<hr>
				<form action="{{ path('app_commandes') }}" method="POST">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="ref">Réference</label>
								<input type="text" class="form-control" id="ref" name="ref" required unique>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="description">Description</label>
								<input type="text" class="form-control" id="description" name="description" required>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="banque">Banque</label>
								<select class="form-control" id="banque" name="banque" required>
									<option value="">Choose a banque</option>
									{% for banque in banques %}
										<option value="{{ banque.id }}">{{ banque.nom }}</option>
									{% endfor %}
								</select>
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label for="tauxtva">Taux TVA ( 10% = 0.1 )</label>
								<input type="text" class="form-control" id="tauxtva" name="tauxtva" pattern="\d+(\.\d+)?" title="Please enter a valid float number" required>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="avance">Avance</label>
								<input type="text" class="form-control" id="avance" name="avance" pattern="[0-9]+" title="Please enter an integer number">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="date">Date</label>
								<input type="date" class="form-control" id="date" name="date" required>
							</div>
						</div>


					</div>

					<div class="row">

          <div id="materialContainers">
  <div class="row material-container">
    <!-- The first select dropdown -->
    <select class="form-control col-8 materialSelect" onchange="showSelectedMaterial()">
      {% for materiel in materiels %}
        <option value="">Choisir matériel</option>
        <option value="{{ materiel.id }}">{{ materiel.nom }}</option>
      {% endfor %}
    </select>

    <div class="" style="display: none;">
      <label for="quabite">Quantité</label>
      <input class="form-control col-lg-12 quantity" id="quabite" name="quabite"></input>
      <label for="price">Prix de vente</label>
      <input class="form-control col-lg-12 price" type="text" id="price" name="price">
    </div>

    <!-- The "+" button for the first select dropdown -->
    <button class="ml-4 addMaterial" type="button">+</button>
  </div>
</div>



         



					</div>

					<div class="row paddingLF">
						<div class="text-left buttons-wrapper pull-left">
							<button id="back" type="button" class="btn btn-warning">BACK</button>
						</div>
						<div class="text-right buttons-wrapper pull-right">
							<button type="submit" class="btn btn-primary">Confirm</button>
						</div>
					</div>

				</form>


			</div>
		</div>

	</div>
</div>







<!-- Include jQuery library if not already included -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{# <script>
  // Get the container for material select dropdowns
  const materialContainers = document.getElementById('materialContainers');

  // Event listener for the "+" button click
  materialContainers.addEventListener('click', function(event) {
    const clickedElement = event.target;
    
    // Check if the clicked element is a button with the class "addMaterial"
    if (clickedElement.classList.contains('addMaterial')) {
      // Clone the material container (including select dropdown and button)
      const clonedMaterialContainer = clickedElement.closest('.material-container').cloneNode(true);
      
      // Get the select dropdown from the cloned container
      const clonedSelect = clonedMaterialContainer.querySelector('.materialSelect');
      
      // Remove the "+" button from the cloned container
      clonedMaterialContainer.querySelector('.addMaterial').remove();

      // Append the cloned material container to the "materialContainers" div
      materialContainers.appendChild(clonedMaterialContainer);
      
      // Reset the value of the cloned select dropdown
      clonedSelect.value = '';

      // Hide the "+" button from the original material container
      clickedElement.style.display = 'none';

      // Add a new "+" button to the last material container
      const lastMaterialContainer = materialContainers.lastElementChild;
      const addButton = document.createElement('button');
      addButton.className = 'ml-4 addMaterial';
      addButton.type = 'button';
      addButton.innerText = '+';
      lastMaterialContainer.appendChild(addButton);
    }
  });
</script> #}

<script>
  // Function to show/hide the quantity and price div based on material selection
  function showSelectedMaterial() {
    const materialSelects = document.querySelectorAll('.materialSelect');
    materialSelects.forEach((select) => {
      const divToShowHide = select.nextElementSibling;
      if (select.value !== '') {
        divToShowHide.style.display = 'block';
      } else {
        divToShowHide.style.display = 'none';
      }
    });
  }

  // Get the container for material select dropdowns
  const materialContainers = document.getElementById('materialContainers');

  // Event listener for the "+" button click
  materialContainers.addEventListener('click', function (event) {
    const clickedElement = event.target;

    // Check if the clicked element is a button with the class "addMaterial"
    if (clickedElement.classList.contains('addMaterial')) {
      // Clone the material container (including select dropdown and button)
      const clonedMaterialContainer = clickedElement.closest('.material-container').cloneNode(true);

      // Get the select dropdown from the cloned container
      const clonedSelect = clonedMaterialContainer.querySelector('.materialSelect');

      // Reset the value of the cloned select dropdown
      clonedSelect.value = '';

      // Hide the quantity and price div in the cloned container
      const clonedDivToShowHide = clonedMaterialContainer.querySelector('.quantity').parentElement;
      clonedDivToShowHide.style.display = 'none';

      // Append the cloned material container to the "materialContainers" div
      materialContainers.appendChild(clonedMaterialContainer);

      // Hide the "+" button from the original material container
      clickedElement.style.display = 'none';

      // Add a new "+" button to the last material container
      const lastMaterialContainer = materialContainers.lastElementChild;
      const addButton = document.createElement('button');
      addButton.className = 'ml-4 addMaterial';
      addButton.type = 'button';
      addButton.innerText = '+';
      lastMaterialContainer.appendChild(addButton);
    }
  });
</script>

<script>
  // When the page is ready, hide the #materialSelect and show the #materialDropdown
  $(document).ready(function() {
    //$("#materialSelect").hide();
    $("#materialDropdown").show();
  });
</script>































{# <script>
  // Get the select element
  const materialSelect = document.getElementById('materialSelect');
  
  // Get the text-area-container div
  const textAreaContainer = document.querySelector('.text-area-container');

  // Event listener for when the select option changes
  materialSelect.addEventListener('change', function() {
    // Check if an option is selected
    if (this.value !== '') {
      // Display the text-area-container div
      textAreaContainer.style.display = 'block';
    } else {
      // Hide the text-area-container div if no option is selected
      textAreaContainer.style.display = 'none';
    }
  });
</script> #}


{# <script>
  // Get the "+" button
  const addButton = document.getElementById('addMaterial');

  // Get the container for material select dropdowns
  const materialContainers = document.getElementById('materialContainers');

  // Event listener for the "+" button click
  addButton.addEventListener('click', function() {
    // Clone the first select element
    const clonedSelect = document.querySelector('.materialSelect').cloneNode(true);

    // Clear the selected value in the cloned select
    clonedSelect.value = '';

    // Append the cloned select to the container
    materialContainers.appendChild(clonedSelect);
  });
</script> #}


{# <script>
  $(document).ready(function() {
    // Add click event handler to the "CONTINUE" button
    $("#continue").click(function() {
      // Hide Tab 1 and show Tab 2
      $("#tab1").removeClass("active");
      $("#tab2").addClass("active");

      // Scroll to Tab 2 if it's not in the visible area
      $('html, body').animate({
        scrollTop: $("#tab2").offset().top
      }, 500);
    });

    // Add click event handler to the "BACK" button in Tab 2
    $("#back").click(function() {
      // Hide Tab 2 and show Tab 1
      $("#tab2").removeClass("active");
      $("#tab1").addClass("active");

      // Scroll to Tab 1 if it's not in the visible area
      $('html, body').animate({
        scrollTop: $("#tab1").offset().top
      }, 500);
    });
  });
</script> #}


{# <script>

	$(document).ready(function () {
$('input[type="checkbox"]').change(function () {
var checkboxId = $(this).attr('id');
var textareaId = checkboxId.replace('materiel', 'textarea');
var priceId = checkboxId.replace('materiel', 'price');
var textAreaContainer = $('#' + textareaId).closest('.text-area-container');
var priceContainer = $('#' + priceId).closest('.text-area-container');
if ($(this).is(':checked')) {
textAreaContainer.show();
priceContainer.show()
} else {
textAreaContainer.hide();
priceContainer.hide()

}
});
});


 
</script> #}












{# <script>


$(document).ready(function() {
    // Show/hide the dropdown list when the button is clicked
    $("#dropdownButton").click(function() {
      $("#dropdownList").toggle();
    });
  });


</script> #}


{# <script>

	$(document).ready(function () {
$('input[type="checkbox"]').change(function () {
var checkboxId = $(this).attr('id');
var textareaId = checkboxId.replace('materiel', 'textarea');
var priceId = checkboxId.replace('materiel', 'price');
var textAreaContainer = $('#' + textareaId).closest('.text-area-container');
var priceContainer = $('#' + priceId).closest('.text-area-container');
if ($(this).is(':checked')) {
textAreaContainer.show();
priceContainer.show()
} else {
textAreaContainer.hide();
priceContainer.hide()

}
});
});
</script> #}

{% endblock %}