{% extends "baseAdmin.html.twig" %}




{% block body %}

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="card mb-3">
                {# <div class="card-body col-lg-12"></div> #}
            </div>


            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="card-body">
                            <h4 class="card-title">Command num
                                {{ commande.ref}}</h4>
                            <div class="table-responsive">


                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Command Description</th>
                                        <td>{{ commande.description }}</td>
                                    </tr>
                                    <tr>
                                        <th>Banque</th>
                                        <td>{{ commande.banque.nom }}</td>
                                    </tr>
                                    <tr>
                                        <th>Materiels</th>
                                        <td>
                                            {% for commandeMateriel in commande.commandeMateriels %}
                                                <li>{{ commandeMateriel.materiel.nom }} ({{ commandeMateriel.quantite }})</li>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Prix unitaire</th>
                                        <td>
                                          {% for commandeMateriel in commande.commandeMateriels %}
                                                <li>{{ commandeMateriel.materiel.pu }}</li>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>taux tva</th>
                                        <td>{{ commande.tauxtva * 100 }}
                                            %</td>
                                    </tr>
                                    <tr>
                                        <th>Avance</th>
                                        <td>{{ commande.avance }}</td>
                                    </tr>
                                    <tr>
                                        <th>TOTAL HT</th>
                                        <td>
                                            {%- set totalHT = 0 -%}
                                            {%- for commandeMateriel in commande.commandeMateriels -%}
                                                {%- set totalHT = totalHT + (commandeMateriel.quantite * commandeMateriel.materiel.pu) -%}
                                            {%- endfor -%}
                                            {{ totalHT }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>TVA</th>
                                        <td>
                                            {%- set TVA = totalHT * (commande.tauxtva) -%}
                                            {{ TVA }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>TOTAL TTC</th>
                                        <td>
                                            {%- set totalTTC = totalHT + TVA -%}
                                            {{ totalTTC }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>RESTE</th>
                                        <td>
                                            {%- set reste = totalTTC - commande.avance -%}
                                            {{ reste }}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>



                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}