{% extends "baseAdmin.html.twig" %}




{% block body %}


<style>

.facture-table {
    border-collapse: collapse;
    width: 100%;
}

.facture-table th, .facture-table td {
    border: 1px solid black;
    padding: 8px;
}

.facture-heading {
    background-color: #f2f2f2;
    font-weight: bold;
}






</style>

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="card mb-3">
                {# <div class="card-body col-lg-12"></div> #}
            </div>


            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="card-body">
                            <h4 class="card-title">Command num
                                {{ commande.ref}}</h4>
                            <div class="table-responsive">


                            <table class="table table-bordered">
    <thead>
        <tr>
            {# <th>Command Description</th>
            <th>Banque</th> #}
            <th>Materiel</th>
            <th>Quantity</th>
            <th>Taux TVA</th>
            <th>PRIX UNIT. HT</th>
            <th>MONTANT HT</th>
            {# <th>Avance</th>
            <th>Montant HT</th>
            <th>TVA</th>
            <th>TOTAL TTC</th>
            <th>RESTE</th> #}
        </tr>
    </thead>
    <tbody>
    {% set totalHT = 0 %}

        {% for commandeMateriel in commande.commandeMateriels %}
            <tr>
                {# {% if loop.first %}
                    <td rowspan="{{ commande.commandeMateriels|length }}">{{ commande.description }}</td>
                    <td rowspan="{{ commande.commandeMateriels|length }}">{{ commande.banque.nom }}</td>
                {% endif %} #}
                <td>{{ commandeMateriel.materiel.nom }}</td>
                <td>{{ commandeMateriel.quantite }}</td>
                <td>{{ commandeMateriel.materiel.tauxtva }}</td>
                <td>{{ commandeMateriel.materiel.pu }}</td>
                <td>{{ commandeMateriel.quantite * commandeMateriel.materiel.pu }}</td>

            </tr>
            {% set totalHT = totalHT + (commandeMateriel.quantite * commandeMateriel.materiel.pu) %}
        {% endfor %}
    </tbody>
</table>

<div style="margin-left:75%;" class="mt-2 mb-2">
<table class="table table-borderless col-md-12">
<tr>
<th> Total HT <span class=" float-right">{{ totalHT }}</span> </th>
</tr>
<tr>
<th>
TVA <span class=" float-right">{{ totalHT * commande.tauxtva }} </span>
</th>
</tr>
</table>
{# <p> <span class=" mr-lg-5"></span> {{ totalHT }}</p>
<p> <span class=" mr-lg-5">TVA: </span>{{ totalHT * commande.tauxtva }}</p> #}
</div>


<table class="table table-bordered">
<tr>
<th>TOTAL TTC <span class=" float-right">{{ totalHT + (totalHT * commande.tauxtva) }}</span></th>
</tr>

</table>



                         

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}