{% extends "baseAdmin.html.twig" %}



{% block body %}

<div class="main-panel">
	<div class="content-wrapper">
		{# {% if app.user.getRoles()=="ROLE_SUPER_USER" %}
			<button type="button" class="btn btn-success mb-2 ml-3" data-toggle="modal" data-target="#exampleModal">
				<span style="font-size:15px;">Ajouter Trésorerie</span>
			</button>

			<button type="button" class="btn btn-info mb-2 ml-3" data-toggle="modal" data-target="#devModal">
				<span style="font-size:15px;">Ajouter Devise</span>
			</button>
		{% endif %} #}


		{# <div class="card mb-3">
			<div class="card-body col-lg-12">
				<form action="{{path('app_tresorie_banque', {'id': id})}}" method="get" class="form-inline">
					<div class="col-2">
						<h5 class="">
							<span style="font-size:18px;"><strong>Filtrer par :</strong></span>
						</h5>
					</div>
					
					<div class="row">
						<div class="col-7">
							<div class="form-group">
								<select name="bank_id" class="form-control">
									<option value="">Tous les banques</option>
									{% for bank in pays.banques %}
										<option value="{{ bank.id }}">{{ bank.nom }}</option>
									{% endfor %}
								</select>
							</div>
						</div>

						<div class="col-2">
							<button type="submit" class="btn btn-primary">Filtrer</button>
						</div>
					</div>
					

					
				</form>
			</div>
		</div> #}




        <button type="button" class="btn btn-success mb-5" data-toggle="modal" data-target="#opModal">
            Ajouter opération +
        </button>
			
		<div class="">
			<div class="col-lg-12 grid-margin stretch-card">
				<div class="card">
					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %}
					<div class="card-body">
						<div class="card-title text-center text-info">
							<span style="font-size:23px;">Liste des opérations</span>
						</div>
						
								<!-- Second column with the table -->
								{# <div class="">
									{% set sumAM = 0 %}
									<table class="table table-bordered col-12 mb-2">
										{% for item in tresories %}
											{% set sumAM = sumAM + item.soldeAM %}
										{% endfor %}
										<thead>
											<tr>
												<th>Total</th>
												<th>USD</th>
												<th>EUR</th>
												<th>XOF</th>
												<th>MRU</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td></td>
												<td>{{ sumAM }}</td>
												<td>{{ sumAM * exchangeRates.EUR }}</td>
												<td>{{ sumAM * exchangeRates.XOF }}</td>
												<td>{{ sumAM * exchangeRates.MRU }}</td>
											</tr>
										</tbody>
									</table>
								</div> #}
							
						
						



						<h3 class="card-header bg-dark font-italic font-weight-bold text-capitalize text-center text-primary">{{compte.num}}</h3>
						<div class="table-responsive">
							{% set sumAM = 0 %}
							<table class="table table-bordered">
								<thead>
									<tr>
                                        <th>
											Numéro
										</th>
										<th>
											Description
										</th>
                                        <th>
											Solde réel
										</th>
										<th>
											Solde AM
										</th>
										<th>
											Date
										</th>
										<th>
											User name
										</th>
                                        {% if app.user and app.user.roles == "ROLE_ADMIN"  %}
										<th class=" text-center">
											Actions
										</th>
                                        {% endif %}
									</tr>
								</thead>
								<tbody>
							
									{% for item in operations %}
										<tr class="{% if item.type == 'entree' %}table-success{% else %}table-danger{% endif %}">
											
											<td>
												{{item.id}}
											</td>
                                            <td>
												{{item.description}}
											</td>
											
											<td>
												{{item.soldeR}}											
											</td>
											<td>
												{{item.soldeAM}}
											</td> 
											{# <td>
												{% if item.type == 'entree' %}
												Entrée
												{% else %}
												Sortie
												{% endif %}	
											</td> #}
											<td>
												{{ item.date | date('d-m-Y H:i') }}
											</td>
											<td>
												{{ item.user.fullname }}
											</td>
											{% if app.user and app.user.roles == "ROLE_ADMIN"  %}
												<td>
													{# <a href="{{path('app_edit_tresorie', {'id': item.id})}}" class="btn btn-success btn-sm">Modifier</a> #}
													<a href="{{path('app_delete_operation', {'id': item.id})}}" onclick="return confirm('Êtes-vous sûr de vouloir vous débarrasser de ce trésor ?')" class="btn btn-danger btn-sm">Supprimer</a>
												</td>
											{% endif %}
										</tr>
									{% endfor %}

									

								</tbody>
							</table>


						</div>
					</div>
				</div>
			</div>








            
		</div>
	</div>
</div>



<!-- Modal -->
{# <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter Trésorerie</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form(tresorieForm) }}
            </div>
        </div>
    </div>
</div> #}

<!-- Modal -->
<div class="modal fade" id="opModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="devModalLabel">Ajouter dev</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>






{% endblock %}