{% extends "baseAdmin.html.twig" %}



{% block body %}

<div class="main-panel">
	<div class="content-wrapper">

		{% if app.user and app.user.roles == "ROLE_SUPER_USER" %}
			<button type="button" class="btn btn-success mb-5" data-toggle="modal" data-target="#opModal">
				Ajouter opération +
			</button>
		{% endif %}	

		<div class="">
			<div class="col-lg-12 grid-margin stretch-card">
				<div class="card">
					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %}
					<div class="card-body">
						<div class="card-title text-center text-info">
							<span style="font-size:23px;">Liste des opérations</span>
						</div>
						
								
						<h4 class="card-header bg-dark font-italic font-weight-bold text-center text-primary">N° de compte : {{compte.num}}</h4>
						<div class="table-responsive">
							{% set sumAM = 0 %}
							<table class="table table-bordered">
								<thead>
									<tr>
                                        <th>
											Numéro
										</th>
										<th>
											Description
										</th>
                                        <th>
											Solde réel
										</th>
										<th>
											Solde AM
										</th>
										<th>
											Date de création
										</th>
										<th>
											User name
										</th>
                                        {% if app.user and app.user.roles == "ROLE_ADMIN"  %}
										<th class=" text-center">
											Actions
										</th>
                                        {% endif %}
									</tr>
								</thead>
								<tbody>
							
									{% for item in operations %}
										<tr class="{% if item.type == 'entree' %}table-success{% else %}table-danger{% endif %}">
											
											<td>
												{{item.id}}
											</td>
                                            <td>
												{{item.description}}
											</td>
											
											<td>
												{{item.soldeR}}											
											</td>
											<td>
												{{item.soldeAM}}
											</td> 
											<td>
												{{ item.date | date('d-m-Y H:i') }}
											</td>
											<td>
												{{ item.user.fullname }}
											</td>
											{% if app.user and app.user.roles == "ROLE_ADMIN"  %}
												<td>
													<a href="{{path('app_delete_operation', {'id': item.id})}}" onclick="return confirm('Êtes-vous sûr de vouloir vous débarrasser de ce trésor ?')" class="btn btn-danger btn-sm">Supprimer</a>
												</td>
											{% endif %}
										</tr>
									{% endfor %}

									

								</tbody>
							</table>


						</div>
					</div>
				</div>
			</div>








            
		</div>
	</div>
</div>


<!-- Modal -->
<div class="modal fade" id="opModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="devModalLabel">Ajouter dev</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
</div>






{% endblock %}