<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

            <!-- title -->

            <!-- favicon -->
            <link rel="shortcut icon" type="image/png" href="{{ asset('assets/img/sp.png')}}">
            <!-- google font -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	

           

            <title>{% block title %}Secure Print{% endblock %}</title>
        
        {% block stylesheets %}


                    <!-- fontawesome -->
            <link rel="stylesheet" href="{{ asset('assets/css/all.min.css')}}">
            <!-- bootstrap -->
            <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css')}}">
            <!-- owl carousel -->
            <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.css')}}">
            <!-- magnific popup -->
            <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css')}}">
            <!-- animate css -->
            <link rel="stylesheet" href="{{ asset('assets/css/animate.css')}}">
            <!-- mean menu css -->
            <link rel="stylesheet" href="{{ asset('assets/css/meanmenu.min.css')}}">
            <!-- main style -->
            <link rel="stylesheet" href="{{ asset('assets/css/main.css')}}">
            <!-- responsive -->
            <link rel="stylesheet" href="{{ asset('assets/css/responsive.css')}}">

			<style>
			
			.submenu {
			display: none;
			}

			.submenu-parent:hover .submenu {
			display: block;
			}

			
			</style>

        {% endblock %}

        {% block javascripts %}

        <!-- jquery -->
        <script src="{{ asset('assets/js/jquery-1.11.3.min.js')}}"></script>
        <!-- bootstrap -->
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
        <!-- count down -->
        <script src="{{ asset('assets/js/jquery.countdown.js')}}"></script>
        <!-- isotope -->
        <script src="{{ asset('assets/js/jquery.isotope-3.0.6.min.js')}}"></script>
        <!-- waypoints -->
        <script src="{{ asset('assets/js/waypoints.js')}}"></script>
        <!-- owl carousel -->
        <script src="{{ asset('assets/js/owl.carousel.min.js')}}"></script>
        <!-- magnific popup -->
        <script src="{{ asset('assets/js/jquery.magnific-popup.min.js')}}"></script>
        <!-- mean menu -->
        <script src="{{ asset('assets/js/jquery.meanmenu.min.js')}}"></script>
        <!-- sticker js -->
        <script src="{{ asset('assets/js/sticker.js')}}"></script>
        <!-- main js -->
        <script src="{{ asset('assets/js/main.js')}}"></script>

		<script>
                // set a timeout of 3 seconds before removing the alerts
                setTimeout(function() {
                    var alerts = document.querySelectorAll('.alert');
                    for (var i = 0; i < alerts.length; i++) {
                        alerts[i].style.display = 'none';
                    }
                }, 7000);
            </script>
            
        {% endblock %}
    
    
    
    </head>
    
    
    <body>
        {% block header %}

        <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{{path('app_home')}}">
								<img src="{{ asset('assets/img/spe.png')}}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{{path('app_home')}}">Home</a>
								</li>
								<li><a href="{{path('app_about')}}">Société</a></li>
								<li><a href="#">Sécurité</a>
									<ul class="sub-menu">
										<li><a href="{{path('app_securite_cheques')}}">Chèque</a></li>
										<li><a href="{{path('app_securite_document')}}">Document sécurisé</a></li>
										<li><a href="{{path('app_copie_scan')}}">Anticopie-Antiscan</a></li>
										<li class="submenu-parent">
											<a href="#">Encre de sécurité</a>
											<ul class="submenu">
											<li><a href="{{path('app_encre_reactive')}}">Encre réactive</a></li>
											<li><a href="{{path('app_encre_fluorescente')}}">Encre fluorescente</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="#">Nos travaux</a>
									<ul class="sub-menu">
										<li><a href="{{path('app_travaux_solution')}}">Nos solutions</a></li>
										<li><a href="{{path('app_travaux_perso')}}">Personnalisation</a></li>
                                        <li><a href="{{path('app_travaux_exemple')}}">Exemples</a></li>
									</ul>
								</li>
								<li><a href="{{path('app_normalisation')}}">Normalisation</a></li>
								<li><a href="{{path('app_contact')}}">Contact</a>
								</li>
								<li>
									<div class="header-icons">
										{# <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a> #}
										<a class="shopping-cart" href="#"><i class="fas fa-shopping-cart"></i></a>
										{% if app.user %}
										<a class="shopping-cart" href="{{path('app_country')}}"><i class="fas fa-user"></i></a>
										<a class="shopping-cart" href="{{path('app_logout')}}"><i class="fas fa-sign-out-alt"></i></a>
										{% else %}
										<a class="shopping-cart" href="{{path('app_login')}}"><i class="fas fa-user"></i></a>	
										{% endif %}
										
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->

        
        {% endblock %}

        
        {% block body %}{% endblock %}


        {% block footer %}
        
        	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-box about-widget">
						<h2 class="widget-title">About us</h2>
						<p>Secure Print est une imprimerie tunisienne crée en 2000, filiale du groupe TRUVISION.CO, elle est « portée de confiance » de la profession bancaire pour répondre aux exigences de qualité, sécurité, agilité et conformité. Acteur majeur en Afrique Centrale d’impression et de la fabrication de carnets de chèques, de remises de chèques et de titres.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li>Lotissement Nour - N ° 26 Route GP1, Direction Borj el Khadhra Mégrine / 2033 Ben Arous - Tunisie</li>
							<li>truvision_tn@truvisionco.com</li>
							<li>+216 25 980 013</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
							<li><a href="{{path('app_home')}}">Home</a></li>
							<li><a href="{{path('app_about')}}">Société</a></li>
							<li><a href="{{path('app_securite_cheques')}}">Chèque</a></li>
							<li><a href="{{path('app_securite_document')}}">Document sécurisé</a></li>
							<li><a href="{{path('app_copie_scan')}}">Anticopie-Antiscan</a></li>
							<li><a href="{{path('app_encre_reactive')}}">Encre réactive</a></li>
							<li><a href="{{path('app_encre_fluorescente')}}">Encre fluorescente</a></li>
							<li><a href="{{path('app_travaux_solution')}}">Nos solutions</a></li>
							<li><a href="{{path('app_travaux_perso')}}">Personnalisation</a></li>
							<li><a href="{{path('app_travaux_exemple')}}">Exemples</a></li>
							<li><a href="{{path('app_normalisation')}}">Normalisation</a></li>
							<li><a href="{{path('app_contact')}}">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>Subscribe to our mailing list to get the latest updates.</p>
						<form action="index.html">
							<input type="email" placeholder="Email">
							<button type="submit"><i class="fas fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2023 - <a href="#">Secure print</a>,  All Rights Reserved.</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
        
        
        {% endblock %}

      
    </body>
</html>
